<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.rc.QuickFixLagFix" android:versionCode="5"
	android:versionName="1.4">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".Activities.QuickFixLagFix"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".Activities.OptionActivity"
			android:label="@string/app_name">
		</activity>
		<activity android:name=".Activities.ProgressViewActivity"
			android:label="@string/app_name">
		</activity>

	</application>

	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.RESTART_PACKAGES" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="7" />

</manifest> 